<div class="container mt-4">
    <p-toast></p-toast>

    <div class="card">
        <p-table #dt [value]="employees" [rows]="5" [paginator]="true"
            [globalFilterFields]="['name','department','designation','status']" [(selection)]="selectedEmployees"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">Manage Employees</h5>
                    <span class="p-input-icon-left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="openNew()"></button>
                    </span>
                </div>
            </ng-template>
            
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="designation">Designation <p-sortIcon field="designation"></p-sortIcon>
                    </th>
                    <th pSortableColumn="department">Department <p-sortIcon field="department"></p-sortIcon>
                    </th>
                    <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                    </th>
                    <th> Action </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee>
                <tr>
                    <td>{{employee.code}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.designation}}</td>
                    <td>{{employee.department}}</td>
                    <td><span
                            [class]="'employee-badge status-' + employee.status.toLowerCase()">{{employee.status}}</span>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editEmployee(employee)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteEmployee(employee)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{employees ? employees.length : 0 }} employees.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="employeeDialog" [style]="{width: '450px'}" header="Employee Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="name">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="employee.name" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !employee.name">Name is required.</small>
            </div>
            <div class="p-field">
                <label for="designation">Designation</label>
                <input type="text" pInputText id="designation" [(ngModel)]="employee.designation" />
            </div>
            <div class="p-field">
                <label class="p-mb-3">Department</label>
                <div class="p-formgrid p-grid">
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="department1" name="department" value="Finance"
                            [(ngModel)]="employee.department"></p-radioButton>
                        <label for="department1">Finance</label>
                    </div>
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="department2" name="department" value="IT" [(ngModel)]="employee.department">
                        </p-radioButton>
                        <label for="department2">IT</label>
                    </div>
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="department3" name="department" value="Logistics"
                            [(ngModel)]="employee.department"></p-radioButton>
                        <label for="department3">Logistics</label>
                    </div>
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="department4" name="department" value="Support"
                            [(ngModel)]="employee.department"></p-radioButton>
                        <label for="department4">Support</label>
                    </div>
                </div>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-secondary"
                (click)="saveEmployee()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>